{% extends '/admin/base.html.twig' %}

{% block title %}Tutorial index{% endblock %}

{% block body %}
    <h1>Tutorial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Public</th>
                <th>Objective</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorial in tutorials %}
            <tr>
                <td>{{ tutorial.id }}</td>
                <td>{{ tutorial.name |purify }}</td>
                <td>{{ tutorial.description |purify }}</td>
                <td>{{ tutorial.public ? 'Yes' : 'No' }}</td>
                <td>{{ tutorial.objective |purify }}</td>
                <td>{{ tutorial.slug }}</td>
                <td>
                    <a href="{{ path('app_admin_tutorial_show', {'id': tutorial.id}) }}">show</a>
                    <a href="{{ path('app_admin_tutorial_edit', {'id': tutorial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_tutorial_new') }}">Create new</a>
{% endblock %}
