{% extends '/admin/base.html.twig' %}

{% block title %}Tutoriel - {{ tutorial.name }}{% endblock %}

{% block body %}
    <h1>Tutoriel : {{ tutorial.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutorial.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tutorial.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutorial.description }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ tutorial.public ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Objectifs</th>
                <td>{{ tutorial.objective }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ tutorial.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_tutorial_index') }}">Retour à la liste des tutoriels</a>

    <a href="{{ path('app_admin_tutorial_edit', {'id': tutorial.id}) }}">Modifier</a>

{% endblock %}
