{% extends 'base.html.twig' %}

{% block title %}Connexion - Ligne bleue
{% endblock %}

{% block body %}
    <form method="post">
        {% if app.user %}
            <div class="mb-3">
                Tu es déjà connecté en tant que
                {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
        {% endif %}
        <div class="container">
            <h1 class="text-center text-light mb-5">On se connaît déjà ? <br> Connecte-toi</h1>
            <div class="row">
                <div class="bg-secondary m-auto col-10 col-md-8 col-lg-6 p-lg-5 p-2 rounded">
                    {% if error %}
                        <div
                            class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form>
                        <div class="form-group mb-3">
                            <label class="" for="inputEmail">E-mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control bg-primary text-light p-2 border-0"
                                   placeholder="Tape ton e-mail ici" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-group mb-2" {{ stimulus_controller('eyeToggle') }}>
                            <label for="inputPassword">Mot de passe</label>
                            <div class="input-group">
                                <input type="password" name="password"
                                       id="inputPassword" {{ stimulus_target('eyeToggle', 'inputPassword') }}
                                       class="form-control bg-primary text-light p-2 border-0"
                                       autocomplete="current-password" placeholder="Tape ton mot de passe ici" required>
                                <span class="input-group-text bg-primary border-0">
									<a href="#"
                                       class="toggle_hide_password" {{ stimulus_action('eyeToggle', 'toggle') }}>
										<i id="eyeIcon"
                                           class="fa-regular fa-eye-slash text-secondary" {{ stimulus_target('eyeToggle', 'eyeIcon') }} aria-hidden="true"></i>
									</a>
								</span>
                            </div>
                            <div class="form-text text-end">
                                <a class="text-muted text-decoration-none"
                                   href="{{ path('app_forgot_password_request') }}" id="emailHelp">Mot de passe oublié
                                    ?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="text-center mt-3 d-flex justify-content-center align-items-center">
                    <button class="btn btn-success rounded-pill" type="submit">Clique ici pour te connecter
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
