{% extends 'base.html.twig' %}

{% block title %}Inscription - Ligne bleue
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(registrationForm) }}
		<h1 class="text-center text-light mb-5">Qui es-tu ?
			<br>
			Inscris-toi !</h1>
		<div class="row">
			<div class="col-sm-6 m-auto">
				<div class="card bg-secondary align-items-center">
					<div class="card-body col-lg-6">
						{{ form_errors(registrationForm) }}
						{{ form_start(registrationForm) }}
						<div class="form-group mb-2">
							{{ form_row(registrationForm.email, {'attr': {'class': 'form-control bg-primary
                            text-light w-100', 'placeholder': 'Tape ton adresse mail ici'}}) }}
						</div>
						<div class="form-group mb-2">
							{{ form_row(registrationForm.name, {'attr': {'class': 'form-control bg-primary
                            text-light w-100', 'placeholder': 'Tape ton nom ici'}}) }}
						</div>
						<div class="form-group mb-2">
							{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control bg-primary
                            text-light', 'placeholder': 'Tape ton mot de passe ici'}}) }}
						</div>
						<div class="form-group mb-2">
							{{ form_row(registrationForm.conditions, {'attr': {'class': 'bg-primary form-check-input'}}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="d-flex justify-content-center align-items-center">
				<button type="submit" class="btn btn-success rounded-pill ms-auto me-auto mt-3">Clique ici pour t'inscrire</button>
			</div>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
