{% if app.user %}
    <nav>
	<ul class="navbar fixed-top justify-content-between list-unstyled">
		<li>
			<div class="ms-2 ms-lg-5">
				<img src="{{ asset('build/images/logo-rond.png') }}" alt="" class="logo mt-2 rounded-circle">
			</div>
		</li>
		<li>
				<div class="btn-group me-2 me-lg-5 d-flex align-items-center">
					<p class='text-white font-weight-bold m-0 me-2 me-lg-4'>
						{{ app.user.name|title }}</p>
                {% if app.user.avatar is null %}
                    <button type="button" class="btn btn-light dropdown-toggle text-primary rounded-pill overflow-hidden me-2 me-lg-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user fa-2x text-primary"></i>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-light dropdown-toggle text-primary rounded-pill overflow-hidden" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('build/avatars/' ~ app.user.avatar.getPath()) }}" alt="Avatar" class="avatar">
                    </button>
                {% endif %}
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" href="{{ path('app_profil')}}">Mon profil</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_select_avatar')}}">Choisir mon avatar</a>
						</li>
						<li>
							<a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
						</li>
					</ul>
				</div>
			</li>
	</ul>
    </nav>
{% else %}
    <nav>
	<ul class="navbar fixed-top justify-content-between list-unstyled">
		<li>
			<div class="ms-2 ms-lg-5">
				<img src="{{ asset('build/images/logo-rond.png') }}" alt="" class="logo mt-2 rounded-circle">
			</div>
		</li>
		<li>
			<div class="btn-group me-2 me-lg-5">
				<button type="button" class="btn btn-light dropdown-toggle text-primary rounded-pill" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-user fa-2x text-primary"></i>
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
    </nav>
{% endif %}
<footer>
<ul class="footer fixed-bottom navbar-light bg-blue d-flex justify-content-around mb-0 p-2">
	<li class="nav-item list-unstyled ">
		<a class="nav-link d-flex align-items-center flex-column-reverse text-light" href="{{ path('index_category') }}">
			Accueil
			<i class="fa-solid fa-home fa-2x"></i>
		</a>
	</li>
	<li class="nav-item list-unstyled">
		<a class="nav-link d-flex align-items-center flex-column-reverse text-light" href=javascript:history.go(-1)>
			Retour
			<i class="fa-solid fa-arrow-left-long fa-2x"></i>
		</a>
	</li>
</ul>
</footer>

{% block javascripts %}
	<script>
		function rtn() {
window.history.back();
}
	</script>
{% endblock %}
