{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-center text-secondary mt-5 mb-5 text-uppercase">Catégorie : <br> {{ category.title }}</h1>

	{% if not app.user %}
		<div class="alert alert-info alert-dismissible fade show text-center w-75 ms-auto me-auto" role="alert">
			Inscrivez-vous dès maintenant pour profiter de plus d'avantages !  <a href="{{path("app_mail_choice")}}"> Inscris-toi !</a>
		</div>
	{% endif %}
	<div class="container mt-5">
		<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
			{% for tutorial in category.tutorials %}
				{% if tutorial.ispublic %}
					<div class="col text-center">
						<a href="{{ path("tutorial_show", {'slug': tutorial.slug}) }}" class="btn btn-secondary p-4 mb-5 w-75">{{ tutorial.name }}</a>
					</div>
				{% else %}
					<div class="col text-center">
						<a href="#" class="btn btn-dark p-4 mb-5 w-75 position-relative data-bs-toggle=" tooltip" data-bs-placement=" top" title=" connectez-vous pour y avoir accès"">
							<i class="fa-solid fa-lock position-absolute bottom-0 end-0 fa-2x"></i>
							{{ tutorial.name }}</a>
					</div>
				{% endif %}
			{% else %}
				Aucun tutoriel trouvé dans cette catégorie.
				<br>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
