{% extends 'layout/layout-center.html.twig' %}
{% block title %}Profil - Ligne bleue
{% endblock %}

{% block body %}
	<div class="container">
		{% for messages in app.flashes ('sendOK') %}
			<div class="alert alert-success">
				{{ messages }}
			</div>
		{% endfor %}
		<h1 class="text-center text-secondary mb-5 text-uppercase">Mon Profil</h1>
		<div class="d-flex justify-content-center">
			<div class="text-start text-white mb-5">
				<p>{{ app.user.name }}</p>
				<p>{{ app.user.email }}</p>
				<p>Inscrit depuis le
					{{ app.user.dateInscription|date('d/m/Y')}}</p>
			</div>
		</div>

		<div class="text-center mb-3">
			<a href="{{ path('app_add_friend') }}" class="btn btn-danger btn-lg text-uppercase w-50">
				<i class="fa-solid fa-people-group"></i>
				Ajoute tes amis !
			</a>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-danger btn-lg text-uppercase w-50">
				<i class="fa-sharp fa-solid fa-globe"></i>
				Partage ta progression
			</button>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-lg-6">
				<div class="text-center">
					<h1 class="text-light">Ma progression</h1>
					<div class="bg-secondary rounded m-auto col-10 p-5"></div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="text-center">
					<h1 class="text-light">Mes favoris</h1>
					<div class="bg-secondary rounded m-auto col-10 p-5"></div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-lg-6">
				<div class="text-center">
					<h1 class="text-light">Mes Amis</h1>
					<div class="bg-secondary rounded m-auto col-10 p-5">
						{# <ul>
							{% for friend in friends %}
								<li>
									<img src="{{ friend.avatar }}" alt="{{ friend.name }}" width="50" height="50">
									{{ friend.name }}
								</li>
							{% endfor %} #}
						</ul>
					</div>
				{% endblock %}
