{% extends 'layout/layout-center.html.twig' %}
{% block title %}Profil - Ligne bleue
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-secondary mt-5 mb-5 text-uppercase text-center">Mon Profil</h1>
        <div class="d-flex justify-content-lg-around flex-column flex-lg-row">
            <div class="text-white">
                <div class="text-center text-lg-start">
                    <p>{{ app.user.name }}</p>
                    <p>{{ app.user.email }}</p>
                    <p>Membre depuis le
                        {{ app.user.dateInscription|date('d/m/Y') }}</p>
                </div>
            </div>
            <div class="text-center fw-bold">
                <button type="button" class="btn btn-danger m-auto mb-3 btn-lg w-75 text-uppercase">
                    <i class="fa-solid fa-people-group me-2"></i>
                    Ajouter un ami
                </button>
                <button type="button" class="btn btn-danger m-auto mb-3 btn-lg w-75 text-uppercase">
                    <i class="fa-regular fa-share-from-square me-2"></i>
                    Partager ma progression
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-lg-around flex-column flex-lg-row">
            <div class="w-100">
                <h2 class="text-light text-center">Ma progression</h2>
                <div class="bg-secondary rounded me-1 p-5">Voici ta progression</div>
            </div>

            <div class="w-100">
                <h2 class="text-light text-center">Mes favoris</h2>
                <div class="bg-secondary rounded ms-1 p-2">
                    {% for tutorial in favoris %}
                        <ul class="">
                            <li>
                                <a class="text-decoration-none"
                                   href="{{ path("tutorial_show", {'slug': tutorial.slug}) }}">
                                    {{ tutorial.name }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-center">
                <h2 class="text-light">Mes Amis</h2>
                <div class="bg-secondary rounded m-auto p-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
