{% extends 'layout/layout-center.html.twig' %}
{% block title %}Profil - Ligne bleue
{% endblock %}

{% block body %}
	<div class="container">
		{% for messages in app.flashes ('sendOK') %}
			<div class="alert alert-success">
				{{ messages }}
			</div>
		{% endfor %}
		<h1 class="text-center text-secondary mb-5 text-uppercase">Mon Profil</h1>
		<div class="d-flex justify-content-center">
			<div class="text-start text-white mb-5">
				<p>{{ app.user.name }}</p>
				<p>{{ app.user.email }}</p>
				<p>Inscrit depuis le
					{{ app.user.dateInscription|date('d/m/Y')}}</p>
			</div>
		</div>

		<div class="text-center mb-3">
			<a href="{{ path('app_add_friend') }}" class="btn btn-dark btn-lg text-uppercase w-50">
				<i class="fa-solid fa-people-group"></i>
				Ajoute tes amis !
			</a>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-dark btn-lg text-uppercase w-50">
				<i class="fa-sharp fa-solid fa-globe"></i>
				Partage ta progression
			</button>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-lg-6">
				<div class="text-center">
					<h1 class="text-light">Ma progression</h1>
					<div class="bg-secondary rounded m-auto col-10 p-5"></div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="text-center">
					<h1 class="text-light">Mes favoris</h1>
					<div class="bg-secondary rounded m-auto col-10 p-5"></div>
				</div>
			</div>
		</div>
		{% for status in ['accepted', 'pending'] %}
			<div class="row justify-content-center mt-5">
				<div class="col-lg-6">
					<div class="text-center">
						<h1 class="text-light">{{status == 'accepted' ? 'Mes amis' : 'Demandes en attente' }}</h1>
						<div class="bg-secondary rounded m-auto p-5">
							{% set friends = app.user.friends|filter(friend => friend.status == status)|merge(app.user.friendOf|filter(friend => friend.status == status)) %}
							<div class="row">
								{% for friend in friends %}
									{% set userFriend = friend.sendTo == app.user ? friend.sendBy : friend.sendTo %}
									<div class="col-md-4">
										<div class="card mb-4" style="min-height: 14rem;">
											<div class="card-body">
												<h5 class="card-title">{{ userFriend.name|title }}</h5>
												<p>
													{% if userFriend.avatar is null%}
														<i class="fa-solid fa-user fa-2x text-primary"></i>
													{% else %}
														<img src="{{ asset('build/avatars/' ~ userFriend.avatar.getPath()) }}" alt="Avatar" class="avatar">
													{% endif %}
												</p>
												<a href="{{ path('app_remove_friend', { id: friend.id }) }}" class="btn btn-danger btn-sm">
													Retirer
												</a>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	{% endblock %}
