{% extends 'layout/layout-center.html.twig' %}

{% block title %}Tutoriel -
    {{ tutorial.name }}
{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center text-light mt-5">
            Tutoriel :
            {{ tutorial.name }}
        </h1>
    </div>

    <div class="container">
        <div class="bg-secondary rounded m-auto mt-5 p-4 col-10">
            <h2 class="text-center mb-2 mt-3">Objectifs
            </h2>
            <ul class="text-center list-unstyled mb-5">
                <li>
                    {{ tutorial.objective }}
                </li>
            </ul>

            <div class="row-cols-md-2 d-flex flex-column flex-md-row">
                <div class="col m-auto fw-bold text-center">
                    <p>Clique sur cette vidéo
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <iframe height="250" src="https://www.youtube.com/embed/2LjWULDEpJs" class="rounded w-100"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>

                <div class="col m-auto">
                    <p class="p-1 p-md-3 p-lg-5">{{ tutorial.description }}
                    </p>
                </div>
            </div>

            <div>
                <h1 class="text-center">Quizz</h1>

                <form method="post">
                    {% for question in tutorial.questions %}
                        <div id="quiz" class="mt-4 d-flex flex-column justify-content-center">

                            <div class="border text-center w-75 m-auto p-3">
                                <p>Question :
                                    {{ question.title }}</p>
                            </div>
                            <div class="w-100">
                                <ul class="options list-unstyled">
                                    {% for answer in question.answers %}
                                        <li class="border mt-3 p-3 w-50 m-auto">
                                            <label for="answer-{{ answer.id }}">
                                                <input type="radio"
                                                       name="{{ question.id }}" value="{{ answer.id }}"
                                                       id="answer-{{ answer.id }}">
                                                {{ answer.text }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container bg-primary">

    </div>
{% endblock %}
