{% extends '/admin/base.html.twig' %}

{% block title %}Admin - Tutoriels{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Liste des tutoriels</h1>
    <div class="container mt-5">
<div class="d-flex flex-column align-items-center justify-content-center text-center">
    {{ form(form) }}
        {{ knp_pagination_render(tutorials) }}
</div>
    <a href="{{ path('app_admin_tutorial_new') }}">Ajouter un tutoriel</a>

    <table class="table mt-2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Public</th>
                <th>Objectifs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorial in tutorials %}
            <tr>
                <td>{{ tutorial.id }}</td>
                <td>{{ tutorial.name|purify }}</td>
                <td>{{ tutorial.description|purify }}</td>
                <td>{{ tutorial.public ? 'Oui' : 'Non' }}</td>
                <td>{{ tutorial.objective|purify }}</td>
                <td>
                    <a href="{{ path('app_admin_tutorial_show', {'id': tutorial.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_tutorial_edit', {'id': tutorial.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
