{% extends 'base.html.twig' %}

{% block title %}Hello AvatarController!{% endblock %}

{% block body %}
    <h1 class= "text-center">Choisissez votre avatar</h1>

    {{ form_start(avatarForm) }}
        {{ form_row(avatarForm.avatar) }}
        <!-- <ul>
            {% for choice in avatarForm.avatar.vars.choices %}
                {% set avatar = choice.data %}
                <li>
                    <img src="{{ asset('build/avatars/' ~ avatar.getPath()) }}" alt="{{ choice.label }}">
                    <input type="radio"
                    name="avatar_form[{{avatarForm.avatar.vars.name}}]"
                    value="{{choice.value}}"
                    />
                </li>
            {% endfor %}
        </ul> -->
        <button type="submit">Valider</button>
    {{ form_end(avatarForm) }}

{% endblock %}

